<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reactlibrary">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="scanner.scan.ScanActivity"
            android:label="@string/scan"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="scanner.crop.CropActivity"
            android:label="@string/crop"
            android:launchMode="singleTask" />
    </application>

</manifest>